
body{

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}




header{
    text-align: center;
    background-color: black;
    color: orange;
    
}

#contenedorReportes{

    align-items: center;
    text-align: center;
}



#contenedorInformacion{
    
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    text-decoration: none;

    

}


